@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* background-color: #fff; */
      /* color: var(--color-index-70); */
  }
  /* .font-sans {
      font-family: "Unica77", var(--font-fallback);
  } */
  /* .font-serif {
    font-family: "Plantin", var(--font-fallback);
  } */
  /* .font-mono {
    font-family: "Prestige", var(--font-fallback);
  } */

  .article p {
    margin-bottom: 1.5rem;
  }