@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'md-grey-100': '#FAFBF7',
'md-grey-200': '#E6E6E6',
'md-grey-300': '#AAAAAA',
'md-grey-400': '#666666',
'md-grey-500': '#555555',
'md-grey-600': '#1B1B1B', */


::selection {
  color: gray;
  background: transparent;
}

body {
  background-color: #FFFFFF;
    font-family: var(--font-sans);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
}

.menu-links a:hover {
  color: #555555;
}

.article h2 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.article p {
  margin-bottom: 1.5rem;
  /* font-weight: 500; */
  /* line-height: 1.2; */
  /* font-size: 1rem; */
}
.article--footer h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 4px;
}
.article--footer p {
  margin-bottom: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.article--footer li {
  margin-bottom: 0.25rem;
  font-weight: 300;
  line-height: 1.5;
}
.md-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 1rem;
}

.dots {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  display: flex;
  padding: 15px 10px;
  /* justify-content: center; */
}

.dot {
  border: none;
  /* width: 20%; */
  height: 2px;
  background: #000000;
  opacity: 0.45;
  /* border-radius: 50%; */
  margin: 0 5px;
  /* padding: 1px; */
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  position: relative;
  /* background: #FFFFFF; */
}
.dot.active:after {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  height: 2px;
  z-index: 999999;
  background: #FFFFFF;
  animation: lineAnimationDot 4s 0s 1 linear forwards;
}
@keyframes lineAnimationDot{
  0%{
      width: 0%;
  }
  100%{
  width: 100%;
  }
}

.masonry-grid {
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
}
.masonry-grid--column {
  padding-left: 0px; /* gutter size */
  background-clip: padding-box;
}
.masonry-grid--item {
  padding-top:25vh;
  margin-bottom: 5vw;
  padding: 32px 64px;
}
.masonry-grid--column:last-of-type .masonry-grid--item:first-child{
  padding-top: 160px;
}
.masonry-grid--column:first-of-type .masonry-grid--item:first-child{
  padding-top: 0px;
}
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  /* margin-bottom: 30px; */
}

.masonry-item-left {
  /* justify-content: flex-start; */
  
}
.masonry-item-right {
  /* justify-content: flex-end; */
}

.img--portrait {

}
.img--square {

}
.img--landscape {

}