@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: gray;
    background: transparent;
  }
  
  body {
    background-color: #FFFFFF;
      font-family: var(--font-sans);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
  }

  .menu-links a:hover {
    color: #555555;
  }
  

.md-col-start-5 {
  grid-column-start: 5;
}
.md-col-start-6 {
  grid-column-start: 6;
}
.md-col-start-7 {
  grid-column-start: 7;
}
.md-col-start-8 {
  grid-column-start: 8;
}
.md-col-start-9 {
  grid-column-start: 9;
}
.md-col-start-10 {
  grid-column-start: 10;
}

.md-col-padding-5 {
  padding-left: -80px
}
.md-col-padding-6 {
  padding-left: -40px;
}
.md-col-padding-7 {
  padding-left: calc(7 * 1rem);
}
.md-col-padding-8 {
  padding-left: calc(8 * 1rem);
}
.md-col-padding-9 {
  padding-left: calc(9 * 1rem);
}
.md-col-padding-10 {
  padding-left: calc(10 * 1rem);
}

.md-textCollageAdd-1 {
  /* padding-left: 60px */
  @apply pl-[30px] sm:pl-[60px];
}
.md-textCollageAdd-2 {
  /* padding-left: 120px */
  @apply pl-[60px] sm:pl-[120px];
}
.md-textCollageAdd-3 {
  @apply pl-[90px] sm:pl-[180px];
  /* padding-left: 180px */
}
.md-textCollageAdd-4 {
  @apply pl-[120px] sm:pl-[240px];
  /* padding-left: 240px */
}
.md-textCollageAdd-5 {
  @apply pl-[150px] sm:pl-[300px];
  /* padding-left: 300px */
}
.md-textCollageAdd-6 {
  @apply pl-[180px] sm:pl-[360px];
  /* padding-left: 360px */
}


  .article h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .article p {
    margin-bottom: 1.5rem;
    /* font-weight: 500; */
    /* line-height: 1.2; */
    /* font-size: 1rem; */
  }
  .article--footer h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 4px;
  }
  .article--footer p {
    margin-bottom: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .article--footer li {
    margin-bottom: 0.25rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .md-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 1rem;
  }

  /* INTERVIEW */
  .interviewContent p{
    @apply max-w-2xl text-xl mx-auto leading-[130%];
  }
  

  .interviewContent h2 {
    @apply text-xl max-w-2xl mx-auto leading-[130%];
  }

  .interviewContent blockquote {
    @apply text-2xl sm:text-3xl lg:text-6xl uppercase font-mono sm:-mx-18 lg:-mx-36 py-10 sm:py-20 leading-[110%];
  }

  .interviewContent h2 {
    text-indent: 4rem;  /* Example: Indent the paragraph */
  }

  .interviewContent p {
    /* Apply your styles to the p tag immediately following h2 */
    text-indent: 4rem;  /* Example: Indent the paragraph */
  }

  .interviewContent h2 + p {
    /* Apply your styles to the p tag immediately following h2 */
    position: relative;
  }
  
  .interviewContent h2 + p::before {
    content: "( A ) ";
  }

  .interviewContent h2::before {
    content: "( Q ) ";
  }

  .interviewContent h2 + h2::before {
    content: none;
  }
  .interviewContent h2 + h2 {
    text-indent: 0rem;
  }

  /* MASONARY GRID */

.masonry-grid {
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
}
.masonry-grid--column {
  padding-left: 0px; /* gutter size */
  background-clip: padding-box;
}
.masonry-grid--item {
  padding-top:25vh;
  margin-bottom: 5vw;
  padding: 32px 64px;
}
.masonry-grid--column:last-of-type .masonry-grid--item:first-child{
  padding-top: 160px;
}
.masonry-grid--column:first-of-type .masonry-grid--item:first-child{
  padding-top: 0px;
}
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  /* margin-bottom: 30px; */
}

.masonry-item-left {
  /* justify-content: flex-start; */
  
}
.masonry-item-right {
  /* justify-content: flex-end; */
}

.img--portrait {

}
.img--square {

}
.img--landscape {

}