@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Prestige';
  src:  url('/fonts/Prestige/Prestige12PitchBT-Roman.woff2') format('woff2'),
        url('/fonts/Prestige/Prestige12PitchBT-Roman.woff') format('woff');
        font-weight: 400;
        font-display: swap;
}  
@font-face {
  font-family: 'Plantin';
  src:  url('/fonts/Plantin/PlantinMTPro-Light.woff2') format('woff2'),
        url('/fonts/Plantin/PlantinMTPro-Light.woff') format('woff');
        font-weight: 300;
        font-display: swap;
}  
@font-face {
    font-family: 'Unica77';
    src:  url('/fonts/Unica77/Unica77LLWeb-Light.woff2') format('woff2'),
          url('/fonts/Unica77/Unica77LLWeb-Light.woff') format('woff');
          font-weight: 300;
          font-display: swap;
}  
@font-face {
    font-family: 'Unica77';
    src:  url('/fonts/Unica77/Unica77LLWeb-Regular.woff2') format('woff2'),
          url('/fonts/Unica77/Unica77LLWeb-Regular.woff') format('woff');
          font-weight: 400;
          font-display: swap;
}  
@font-face {
    font-family: 'Unica77';
    src:  url('/fonts/Unica77/Unica77LLWeb-Medium.woff2') format('woff2'),
          url('/fonts/Unica77/Unica77LLWeb-Medium.woff') format('woff');
          font-weight: 500;
          font-display: swap;
} 
@font-face {
  font-family: 'Unica77';
  src:  url('/fonts/Unica77/Unica77LL-MediumItalic.woff2') format('woff2'),
        url('/fonts/Unica77/Unica77LL-MediumItalic.woff') format('woff');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
} 

:root {
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
      --color-index-00:"#ffffff";
      --color-index-70:#222222;
}

body {
  font-family: "Unica77";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
    /* color: var(--color-index-70); */
}
.font-sans {
    font-family: "Unica77", var(--font-fallback);
}
.font-serif {
  font-family: "Plantin", var(--font-fallback);
}
/* .font-mono {
  font-family: "Prestige", var(--font-fallback);
} */


.annotated {
  /* cursor: help; */
  -webkit-text-decoration: none;
  text-decoration: none;
  /* background-image: linear-gradient( to right, rgba(245,245,238,0.8) 0%, rgba(245,245,238,0.8) 50%, #000 50%, #000 100% ); */
  /* background-image: linear-gradient( to right, rgba(35,95,185,0.6) 0%, rgba(35,95,185,0.6) 50%, #000 50%, #000 100% ); */
  background-image: linear-gradient( to right, rgba(254,255,162,0.8) 0%, rgba(254,255,162,0.8) 50%, #000 50%, #000 100% );
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 1px;
  -webkit-transition: background-position 0.5s 0.3s,background-size 0.3s;
  transition: background-position 0.5s 0.3s,background-size 0.3s;
  padding: 1px 0;
}


  
.annotated:hover {
  background-position: 0% 100%;
  background-size: 200% 75px;
  -webkit-transition: background-position 0.3s,background-size 0.5s 0.3s;
  transition: background-position 0.3s,background-size 0.5s 0.3s;
}

.article p {
  margin-bottom: 1.5rem;
}